*.db
*.txt
*.pyc
*.jpg
*.png
*.gif
*.sql
*.log
*.sublime-project
*.sublime-workspace

app/secret.py
app/__init__.py
app/templates/cities.html
app/templates/starter-template.css

app/static/
data
hidden
tmp