<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="../../favicon.ico">
    <link rel='shortcut icon' href='../static/images/favicon.ico' type='image/x-icon' /> 

    <meta name="description" content="art blog discovery engine">
    <meta name="author" content="Rocio Ng">
    <title>artumbl.r</title>
      
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!--customized CSS Sytlesheet -->
    <link rel="stylesheet" type="text/css" href="../static/css/main_styles.css">

  </head>

  
  <body>

<!-- NAVIGATION BAR -->

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>

         <a class="navbar-brand" href="/">artumbl.r</a>
       </div>

       <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
           <li><a href="/">Home</a></li>
           <li><a href="about">About</a></li>
           <li ><a href="https://docs.google.com/presentation/d/1luXP-X62dqqNAi-Zpev27OhTEzmY1c-TEsO_8ClTZgw/present?slide=id.p6" target="_blank">Slides</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

<br><br>
<!-- END OF NAV BAR -->


<!--HEADER BANNER-->
<!-- THE FORM KEEP THE SAME-->
  <div class="header_container">
      
      <div class="header_text">
          <img src="../static/images/logo.gif" height=150px>
                
    	</div>

      <!-- form that loads output page -->
      
      <center>
      <h1>That is not a proper image! Url must end with .jpg or .png</h1>

      <div id="form">
      <h2>Enter the url of an image you love</h2>
      <form  action="/output" method="GET">
          <div class="form-group">
            <label for="ID">Image URL:</label>
            <input type="text" id="ID" name='ID' placeholder="  enter here ">

          </div>

          <div>
            <button type="submit" id="submit_button" class="btn btn-lg btn-primary">Find me art!</button>
          </div>
     
     </div>

      </form>

    </div>
      </center>


        
<!-- SAMPLES IMAGE SEARCHES  -->

      <center>
      <h2>Or choose from one of the samples below:</h2>
      <table>
      <!--  <th></th> -->
      
        <!-- links for sample queries -->
        <tr>
               
          <td><a href="/output?ID=http%3A%2F%2F37.media.tumblr.com%2Fc4f9be2de49a997933cc3d5c78a36328%2Ftumblr_n2cuiaAG3p1t7b5qro5_r1_1280.jpg"><img src="http://37.media.tumblr.com/c4f9be2de49a997933cc3d5c78a36328/tumblr_n2cuiaAG3p1t7b5qro5_r1_1280.jpg" height="250px"></a></td>
        
          <td><a href="/output?ID=http%3A%2F%2Fwww.hollywoodreporter.com%2Fsites%2Fdefault%2Ffiles%2F2014%2F07%2Fadventure_time.jpg"><img src="http://www.hollywoodreporter.com/sites/default/files/2014/07/adventure_time.jpg" height="250px"></a></td>

          <td><a href="/output?ID=http%3A%2F%2Fin1.ccio.co%2FQC%2Fq8%2Fo4%2F1237786897281025200CctEWCJc.jpg"><img src="http://in1.ccio.co/QC/q8/o4/1237786897281025200CctEWCJc.jpg" height="250px"></a></td>
        </tr>
      </table>

      <table>

        <tr>
          <td><a href="http://www.artumblr.link/output?ID=http%3A%2F%2Forig08.deviantart.net%2Fddc3%2Ff%2F2012%2F317%2F1%2F4%2F167_by_serg_d-d4ms41y.jpg"><img src="http://orig08.deviantart.net/ddc3/f/2012/317/1/4/167_by_serg_d-d4ms41y.jpg" height="250px"></a></td>
          
          <td><a href="http://www.artumblr.link/output?ID=http%3A%2F%2Fpre06.deviantart.net%2F86be%2Fth%2Fpre%2Ff%2F2015%2F168%2F4%2Fe%2Fbelle_and_the_bull_by_nanomortis-d8xncrd.png"> <img src="http://pre06.deviantart.net/86be/th/pre/f/2015/168/4/e/belle_and_the_bull_by_nanomortis-d8xncrd.png" height = "250px"></a></td>
        </tr>
      </table>

      <table>
        <tr>
          <td><a href="/output?ID=http%3A%2F%2F41.media.tumblr.com%2Fd939b1b3c8cabb0bc3428f890d814921%2Ftumblr_n6j0iqyQ381qz7t0xo1_500.png"><img src="http://41.media.tumblr.com/d939b1b3c8cabb0bc3428f890d814921/tumblr_n6j0iqyQ381qz7t0xo1_500.png" height="250px"></a></td>

          <td><a href="/output?ID=http%3A%2F%2Fcdn.playbuzz.com%2Fcdn%2Fb19cddd2-1b79-4679-b6d3-1bf8d7235b89%2F2e3a3461-f108-425b-977a-9353e99e93e7.jpg"><img src="http://cdn.playbuzz.com/cdn/b19cddd2-1b79-4679-b6d3-1bf8d7235b89/2e3a3461-f108-425b-977a-9353e99e93e7.jpg" height="250px"></a></td>

          <td><a href="output?ID=https%3A%2F%2F41.media.tumblr.com%2Ftumblr_lnyqfbTZvt1qdhfhho1_500.jpg"><img src="https://41.media.tumblr.com/tumblr_lnyqfbTZvt1qdhfhho1_500.jpg" height="250px"></a></td>
        </tr>
    </table>

    <table>
        <tr>
          <td><a href="http://www.artumblr.link/output?ID=http%3A%2F%2Fimg01.deviantart.net%2F499a%2Fi%2F2015%2F174%2F2%2F5%2Fprecious_treasure_by_t1na-d7vim3t.jpg"> <img src="http://img01.deviantart.net/499a/i/2015/174/2/5/precious_treasure_by_t1na-d7vim3t.jpg" height="250px"></a></td>
          <td><a href="http://www.artumblr.link/output?ID=http%3A%2F%2Fparksandresorts.wdpromedia.com%2Fmedia%2Fdisneyparks%2Fblog%2Fwp-content%2Fuploads%2F2013%2F02%2Fromo1LARGE.jpg"> <img src="http://parksandresorts.wdpromedia.com/media/disneyparks/blog/wp-content/uploads/2013/02/romo1LARGE.jpg" height="250px" height></a></td>
          <td><a href="http://www.artumblr.link/output?ID=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Ff%2Ff5%2FHans_Gude_-_Norwegian_Highlands_-_Google_Art_Project.jpg"><img src="https://upload.wikimedia.org/wikipedia/commons/f/f5/Hans_Gude_-_Norwegian_Highlands_-_Google_Art_Project.jpg" height="250px"></a></td>
        </tr>

        
    </table>

    </div>
    </center>    

      <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
      <script src="static/js/bootstrap.min.js"></script>


   <!-- Bootstrap core JavaScript
   ================================================== -->
   <!-- Placed at the end of the document so the pages load faster -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
   <script src="static/js/bootstrap.min.js"></script>
 </body>
</html>